<div class="col-md-12">
  <div class="jumbotron">
    <h1>Time Tracker</h1>
    <p>Track your time with the most awesome time tracking app ever.</p>
    <p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>