body {
  padding-top: 20px;
}

#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.navbar .right-buttons {
  margin-right: 15px;
}