body {
  padding-top: 20px;
}

#flash-notice {
  @extend .alert;
  @extend .alert-success;
}
#flash-error, #flash-alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash-warning {
  @extend .alert;
  @extend .alert-warning;
}